@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0a1f1c;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a1f1c;
}
::-webkit-scrollbar-thumb {
  background: #d6a85c;
  border-radius: 4px;
}
